<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <!-- General Form Elements -->
          <form [formGroup]="categoryForm" (ngSubmit)="save()">

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" pInputText formControlName="title"/>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <p-calendar formControlName="date"></p-calendar>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Images</label>
              <div class="col-sm-10">
                <p-dropdown [options]="images" formControlName="selectedImage" [(ngModel)]="selectedImage" optionLabel="title" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Image">
                  <ng-template pTemplate="selectedItem">
                    <div class="flex align-items-center gap-2" *ngIf="selectedImage">
                      <img [src]="selectedImage" style="width: 18px" alt=""/> {{ selectedImage }}
                    </div>
                  </ng-template>
                  <ng-template let-image pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <img [src]="image.image" style="width: 18px" alt=""/> {{ image.name }}
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">

                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </div>

          </form><!-- End General Form Elements -->

        </div>
      </div>

    </div>


  </div>
</section>
