<ng-container>
  <div id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Transactions</li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create Transaction</h5>

              <!-- General Form Elements -->
              <form [formGroup]="transactionForm" (ngSubmit)="save()">

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Amount</label>
                  <div class="col-sm-10">
                    <p-inputNumber formControlName="amount" [style]="{'width': '100%'}" [showButtons]="true" inputId="stacked" mode="currency" currency="TND"> </p-inputNumber>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-10">
                    <p-calendar formControlName="date"></p-calendar>
                  </div>
                </div>

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                  <div class="col-sm-10">
                    <p-selectButton [options]="stateOptions" formControlName="status" optionLabel="label" optionValue="value"></p-selectButton>
                  </div>
                </fieldset>


                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Select</label>
                  <div class="col-sm-10">
                    <p-dropdown [options]="categories" formControlName="category" [(ngModel)]="selectedCategory" optionLabel="title" [filter]="true" filterBy="title" [showClear]="true" placeholder="Select a Category">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedCategory">
                          <img [src]="selectedCategory.image" style="width: 18px"/> {{ selectedCategory.title }}
                        </div>
                      </ng-template>
                      <ng-template let-category pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <img [src]="category.image" style="width: 18px"/> {{ category.title }}
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <p-toast></p-toast>
                    <button type="submit" class="btn btn-primary">Create</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>


      </div>
    </section>

  </div>
</ng-container>
